body {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    color: rgb(19, 42, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    min-height: 100vh;

}

.container {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.1rem 0.2rem rgba(0,0 ,0 , 0.3) ;
    border-radius: 1rem;
    padding: 1.4rem;
    width: 85%;
    max-width: 25rem;
    text-align: center;
    font-size: 1.2rem;
}

.heading {
    margin: 0.2rem;
    font-size: 2.4rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: rgb(35, 63, 247);
    text-shadow: 1px 1px rgba(0, 0 ,0 , 0.8);
   
}

.ratings-container {
    display: flex;
    padding: 1.6rem;
    justify-content: space-between;
   

}

.rating {
    cursor: pointer;
    padding: 1rem;
    margin: 1rem 0.1rem;
}

.rating:hover,
.rating.active {
    background-color: rgb(170, 252, 135);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0 ,0 , 0.3);
    color: rgb(60, 147, 118);
    transition: all 400ms ease-in-out;
}

.btn {
    background-color: rgb(170, 252, 135);
    color: blue;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 1rem;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(170, 252, 135);
    transition: all 400ms ease ;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0 ,0 , 0.3);
}

.btn:active {
    transform: scale(0.96);
}

.rating-text {
    color: rgb(12, 12, 247);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}

.rating-text strong {
    color:rgb(11, 12, 12);
}


.rating img  {
    width: 2rem;
}